<a href="https://colab.research.google.com/github/coolboy911/homework_py_10/blob/main/onehot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Задание 44
> В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?

```python
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI'lst})
data.head()
```
Статья про one hot вид
https://colab.research.google.com/drive/1qKamnDiRmpRZkpiqWPkunBdAhmzhMcGz?usp=sharing

---
# Решение

In [35]:
import random
import pandas as pd
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head(10)

  whoAmI
0  human
1  human
2  robot
3  robot
4  human
5  human
6  robot
7  robot
8  robot
9  robot

не очень компактное решение в лоб

In [36]:
data.loc[data['whoAmI'] == "robot", 'is_robot'] = 1
data.loc[data['whoAmI'] != "robot", 'is_robot'] = 0
data.loc[data['whoAmI'] == "human", 'is_human'] = 1
data.loc[data['whoAmI'] != "human", 'is_human'] = 0

In [38]:
data.head(10)

  whoAmI  is_robot  is_human
0  human       0.0       1.0
1  human       0.0       1.0
2  robot       1.0       0.0
3  robot       1.0       0.0
4  human       0.0       1.0
5  human       0.0       1.0
6  robot       1.0       0.0
7  robot       1.0       0.0
8  robot       1.0       0.0
9  robot       1.0       0.0

код снизу мне подсказал chat gpt бот в телеграме

In [39]:
data['is_robot'] = (data['whoAmI'] == 'robot').astype(int)
data['is_human'] = (data['whoAmI'] == 'human').astype(int)

In [40]:
data.head(10)

  whoAmI  is_robot  is_human
0  human         0         1
1  human         0         1
2  robot         1         0
3  robot         1         0
4  human         0         1
5  human         0         1
6  robot         1         0
7  robot         1         0
8  robot         1         0
9  robot         1         0

удалим уже ненужный столбик

In [41]:
del data['whoAmI']
data.head(10)

   is_robot  is_human
0         0         1
1         0         1
2         1         0
3         1         0
4         0         1
5         0         1
6         1         0
7         1         0
8         1         0
9         1         0